<div class="game-card">
    <img class="game-image" src="" alt="" />
    <div class="game-content">
        <h2 class="game-title"></h2>
        <p class="game-description"></p>
    </div>
    <div class="button-container">
        <button class="play-button">Play</button>
        <!-- <button class="edit-button">Edit</button> -->
    </div>
    <script type="module">
        export function render(container) {
            const { game, pageState } = container._partialParams || {};

            const image = container.querySelector('.game-image');
            const title = container.querySelector('.game-title');
            const description = container.querySelector('.game-description');
            const playButton = container.querySelector('.play-button');

            image.src = 'api/game-app/' + game.id + '/public/' + game.card_image;
            image.alt = game.name;
            title.textContent = game.name;
            description.textContent = game.description;

            playButton.disabled = game.prefab_name === null;
            playButton.onclick = () => pageState.setPageState('fetching_game', { id: game.id, game: game });
        }
    </script>
</div>
